extends base
include mixins/_bookCard

block content
    -
        let conversationLink;

        if (!isOwn) {
            conversationLink = `/messages/${relation.conversation.id}`;
            if (relation.conversation.toRestore) conversationLink = `/messages/${relation.conversation.id}?toRestore=true`;
        }
        
    .profile-header
        .profile-header__content
            img.user-photo(src=`/images/users/${profile.profilePhoto}`)
            h1.heading-1= profile.username
            .connections(data-user-id=profile._id data-following-id=!isOwn ? relation.following.connId : false data-conversation-id = relation.conversation.id ? relation.conversation.id : false)
                .users-list-triggers
                    if profile.followersCount > 0
                        button.users-list-triggers__followers.button-plain <span class='followers-count'>#{profile.followersCount}</span> Follower#{profile.followersCount === 1 ? '' : 's'}
                    else
                        p <span class='followers-count'>0</span> Followers

                    if profile.followingCount > 0
                        button.users-list-triggers__following.button-plain <span class='following-count'>#{profile.followingCount}</span> Following
                    else
                        p <span class='following-count'>0</span> Following
                if !isOwn    
                    .connect-buttons
                        if relation.following.status
                            button(type='button' data-state='unfollow').connect-buttons__unfollow-button.connect-buttons__toggle <i class='fa-solid fa-xmark'></i> Unfollow
                        else
                            button(type='button' data-state='follow').connect-buttons__follow-button.connect-buttons__toggle <i class="fas fa-plus"></i> Follow
                        if relation.following.status && relation.followed.status
                            a(href= relation.convoId ? conversationLink : `/messages/?newId=${profile._id}`).button-light.connect-buttons__message-button <i class="fas fa-message"></i> Message

    .books
        .books__buttons-container
            if !isOwn
                a(href='/').button-primary.books__add-book-button Add Book
        if profile.books.length === 0
            .message.no-books-message
                p No books to show.
        else
            .books__container.books-grid
                .books-grid-sizer
                each book in profile.books
                    +bookCard(book, profile.username)