mixin bookComment(comment)
    .book-card__comment
        a(href=`/${comment.user.username}`)
            img.user-photo.book-card__comment-user-photo(src=`/images/users/${comment.user.profilePhoto}`)
        .book-card__comment-text
            a.book-card__comment-username(href=`/${comment.user.username}`)= comment.user.username
            p.book-card__comment-content= comment.content
            p.book-card__comment-date= comment.dateCreated.toLocaleString('en-us', {day: '2-digit', weekday: 'short', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric'})
        .book-card__comment-delete-button-container
            button.book-card__comment-delete-button ✕