mixin conversation(conversation, unread, selected)
    -
        const user = conversation.participant;
        const extract =  conversation.messages[conversation.messages.length - 1].content;
        const conversationClasses = ['conversation'];

        if (selected) conversationClasses.push('conversation--selected');
        if (unread) conversationClasses.push('conversation--new');

    a(href=`/messages/${conversation._id}` class=conversationClasses.join(' ') data-user-id=user._id data-conversation-id=conversation._id)
        img(src=`/images/users/${user.profilePhoto}` data-image= user.profilePhoto).user-photo
        div
            
            p.conversation__username= user.username
            div.conversation__online-indicator
            p.conversation__extract= extract
        .conversation__notification-indicator-container
            div.conversation__notification-indicator

        